.container{
  margin: 0 auto;
}

.wrapper{
  border: 2px solid black;
  width: 500px;
  padding: 20px;
  display: inline-block;
}
 
 
 
 ol.likes {
  list-style-type: circle;
}

uo.my_likes {
  list-style-type: square;
}

ul.dislikes {
  list-style-type: lower-roman;
}

ol.my_dislikes {
  list-style-type: lower-alpha;
}