.container{
  width: 1000px;
  margin: 30px auto 0;

}

.wrapper{
  border: 2px solid black;
  width: 400px;
  padding: 20px;
  display: inline-block;
  margin: 30px auto;
}
 
 
 
 .likes {
  list-style-type: circle;
  color: yellow;
}
#ol-likes{
  color: red;
}


#my_likes {
  list-style-type: square;
}

.dislikes {
  list-style-type: lower-roman;
}

#my_dislikes {
  list-style-type: lower-alpha;
}